
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #dadad8;
}

/* Header Styling */
header {
    background-color: #044535; 
    color: white;
    padding: 10px 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.header-container {
    display: flex; /* Flexbox für horizontale Ausrichtung */
    justify-content: space-between; /* Platz zwischen linkem und rechtem Bereich */
    align-items: center; /* Vertikale Ausrichtung */
}

/* Linker Bereich */
.header-left {
    display: flex; /* Flexbox für Logo und Mitgliederanzahl */
    align-items: center; /* Vertikale Ausrichtung */
}

.logo-container {
    margin-right: 20px; /* Abstand zwischen Logo und Mitgliederanzahl */
}

.logo {
    height: 60px;
    cursor: pointer;
}

.members-container {
    font-size: 14px;
}

/* Rechter Bereich */
.header-right {
    display: flex; /* Flexbox für Warenkorb und Konto */
    align-items: center; /* Vertikale Ausrichtung */
    gap: 25px; /* Abstand zwischen den Elementen */
}

.cart-badge {
    background-color: #dadad8; 
    color: #044535;
    font-size: 12px;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 20px; /* Runde Form */
}

.cart-container .cart-button {
    background-color: #dadad8;
    color: #044535;
    border: none;
    padding: 10px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.account-container .account-button {
    background-color: #dadad8;
    color: #044535;
    border: none;
    padding: 10px 10px;
    border-radius: 5px;
    cursor: pointer;
}


